fastapi>=0.104.1
uvicorn>=0.24.0
numpy>=1.24.0
scipy>=1.11.3
brainflow>=5.10.1
pydantic>=2.4.2
rich>=13.6.0
python-dateutil>=2.8.2
typing-extensions>=4.8.0

langchain>=0.1.0
streamlit>=1.1.0
faiss-cpu>=1.7.0
streamlit-extras>=0.1.0
dotenv
openai


