h1{
    font-size: 3.2em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #e0e0e0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }
}