/* Dark mode styling */
.dark-mode .landing-section {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Landing section styles */
.landing-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 15%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.landing-section .content {
    text-align: left;
    z-index: 2;
    font-size: 1.1rem;
}

.landing-section .content .social_icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.landing-section .content .social_icons svg {
    font-size: 1.8em;
}

.landing-section .content .mobile_social_icons {
    display: none;
}

.landing-section .content p {
    font-size: 2em;
    margin: 0;
    padding-bottom: 30px;
}

.landing-section .content h1 {
    color: #DDDDDD;
    text-shadow: 2px 0px 3px black;
    font-size: 5em;
    margin: 0;
}

.color-changing {
    animation: glowChange 12s infinite;
}

@keyframes glowChange {
    0% {
        color: #FFC000; /* Gold */
        text-shadow: 1px 0px 2px black, 0 0 1px #FFC000, 0 0 3px #FFC000;
    }
    20% {
        color: #173B3B; /* Light green */
        text-shadow: 1px 0px 2px black, 0 0 5px #285954, 0 0 10px #285954;
    }
    40% {
        color: #747A60; /* pastel yellow */
        text-shadow: 1px 0px 2px black, 0 0 5px #747A60, 0 0 10px #747A60;
    }
    60% {
        color: #FF964F; /* Orange */
        text-shadow: 1px 0px 2px black,  0 0 15px #7F4D32, 0 0 20px #7F4D32;
    }
    80% {
        color: #265450; /* Turquoise */
        text-shadow: 1px 0px 2px black, 0 0 10px #737760, 0 0 15px #737760;
    }
    100% {
        color: #FFC000; /* Gold */
        text-shadow: 1px 0px 2px black, 0 0 2px #FFC000, 0 0 5px #FFC000;
    }
}


/* Responsive styling */
@media screen and (max-width: 567px) {
    .nav-left {
        padding-top: 20px;
        float: left;
    }

    .nav-left img {
        height: 35px;
    }

    .nav-right {
        float: right;
    }

    .nav-right li {
        padding: 10px 15px;
        list-style: none;
        font-size: 13px;
        color: white;
        width: 10%;
    }

    .nav-right ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
    }

    .landing-section {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .landing-section h1 {
        font-size: 4em !important;
        text-align: left;
    }

    .landing-section p {
        text-align: left;
    }

    .container {
        display: initial;
    }

    .social_icons {
        display: none !important;
    }

    .mobile_social_icons {
        padding-top: 10px;
        display: flex !important;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .landing-section {
        padding-top: 150px;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .landing-section .content {
        width: 90%;
        padding: 0 5%;
        padding-bottom: 5%;
    }

    .landing-section .image-wrapper {
        padding-left: 5%;
        width: 100%;
    }
}
