/* Full-page background with gradient overlay */
.create-ses-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg"); /* Same background as landing page */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;
}

/* Centered text content */
.text-content {
    max-width: 800px;
    animation: fadeIn 1.5s ease-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.graph-container h1{
    font-size: 2em;
    padding: 0;
    margin: 20px;
}
.graph-container {
    justify-content: center;
    height: auto;
    width: auto;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .text-content h1 {
        font-size: 2.5em;
    }
    .text-content p {
        font-size: 1em;
    }
    .start-session-button {
        padding: 12px 24px;
        font-size: 1.1em;
    }
}
